/*
Description:
		1 - Including files ("fonts.css", "reset.css" and others)
		2 - Tags styles and General styles
		3 - header
		4 - .content
		5 - footer
		* - @media rules
*/

/* 1 - BEGIN of Including files ("fonts.css", "reset.css" and others) ---------------------------------------------------------- */

@font-face {
    font-family: 'ProximaNova';
    src: url('fonts/ProximaNova/ProximaNova-Bold.eot');
    src: url('fonts/ProximaNova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/ProximaNova/ProximaNova-Bold.woff2') format('woff2'),
        url('fonts/ProximaNova/ProximaNova-Bold.woff') format('woff'),
        url('fonts/ProximaNova/ProximaNova-Bold.ttf') format('truetype'),
        url('fonts/ProximaNova/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Proxima';
    src: url('fonts/ProximaNova/ProximaNova-Semibold.eot');
    src: url('fonts/ProximaNova/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
        url('fonts/ProximaNova/ProximaNova-Semibold.woff2') format('woff2'),
        url('fonts/ProximaNova/ProximaNova-Semibold.woff') format('woff'),
        url('fonts/ProximaNova/ProximaNova-Semibold.ttf') format('truetype'),
        url('fonts/ProximaNova/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'ProximaNova';
    src: url('fonts/ProximaNova/ProximaNova-Regular.eot');
    src: url('fonts/ProximaNova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/ProximaNova/ProximaNova-Regular.woff2') format('woff2'),
        url('fonts/ProximaNova/ProximaNova-Regular.woff') format('woff'),
        url('fonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype'),
        url('fonts/ProximaNova/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('fonts/ProximaNova/ProximaNova-Light.eot');
  src: url('fonts/ProximaNova/ProximaNova-Light.woff2') format('woff2'),
       url('fonts/ProximaNova/ProximaNova-Light.woff') format('woff'),
       url('fonts/ProximaNova/ProximaNova-Light.ttf') format('truetype'),
       url('fonts/ProximaNova/ProximaNova-Light.svg#ProximaNova-Light') format('svg'),
       url('fonts/ProximaNova/ProximaNova-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}


@font-face {
    font-family: 'Sybilla';
    src: url('fonts/Sybilla/SybillaPro-Medium.eot');
    src: url('fonts/Sybilla/SybillaPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Sybilla/SybillaPro-Medium.woff2') format('woff2'),
        url('fonts/Sybilla/SybillaPro-Medium.woff') format('woff'),
        url('fonts/Sybilla/SybillaPro-Medium.ttf') format('truetype'),
        url('fonts/Sybilla/SybillaPro-Medium.svg#SybillaPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sybilla';
    src: url('fonts/Sybilla/SybillaPro-Book.eot');
    src: url('fonts/Sybilla/SybillaPro-Book.eot?#iefix') format('embedded-opentype'),
        url('fonts/Sybilla/SybillaPro-Book.woff2') format('woff2'),
        url('fonts/Sybilla/SybillaPro-Book.woff') format('woff'),
        url('fonts/Sybilla/SybillaPro-Book.ttf') format('truetype'),
        url('fonts/Sybilla/SybillaPro-Book.svg#SybillaPro-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sybilla';
    src: url('fonts/Sybilla/SybillaPro-Heavy.eot');
    src: url('fonts/Sybilla/SybillaPro-Heavy.eot?#iefix') format('embedded-opentype'),
        url('fonts/Sybilla/SybillaPro-Heavy.woff2') format('woff2'),
        url('fonts/Sybilla/SybillaPro-Heavy.woff') format('woff'),
        url('fonts/Sybilla/SybillaPro-Heavy.ttf') format('truetype'),
        url('fonts/Sybilla/SybillaPro-Heavy.svg#SybillaPro-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Sybilla';
    src: url('fonts/Sybilla/SybillaPro-Bold.eot');
    src: url('fonts/Sybilla/SybillaPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Sybilla/SybillaPro-Bold.woff2') format('woff2'),
        url('fonts/Sybilla/SybillaPro-Bold.woff') format('woff'),
        url('fonts/Sybilla/SybillaPro-Bold.ttf') format('truetype'),
        url('fonts/Sybilla/SybillaPro-Bold.svg#SybillaPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sybilla';
    src: url('fonts/Sybilla/SybillaPro-Light.eot');
    src: url('fonts/Sybilla/SybillaPro-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Sybilla/SybillaPro-Light.woff2') format('woff2'),
        url('fonts/Sybilla/SybillaPro-Light.woff') format('woff'),
        url('fonts/Sybilla/SybillaPro-Light.ttf') format('truetype'),
        url('fonts/Sybilla/SybillaPro-Light.svg#SybillaPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: 'IntroBook';
  src: url('fonts/IntroBook/Intro-Book-Italic.eot');
  src: url('fonts/IntroBook/Intro-Book-Italic.woff2') format('woff2'),
       url('fonts/IntroBook/Intro-Book-Italic.woff') format('woff'),
       url('fonts/IntroBook/Intro-Book-Italic.ttf') format('truetype'),
       url('fonts/IntroBook/Intro-Book-Italic.svg#Intro-Book-Italic') format('svg'),
       url('fonts/IntroBook/Intro-Book-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Intro';
  src: url('fonts/Intro/Intro-Bold.eot');
  src: url('fonts/Intro/Intro-Bold.woff2') format('woff2'),
       url('fonts/Intro/Intro-Bold.woff') format('woff'),
       url('fonts/Intro/Intro-Bold.ttf') format('truetype'),
       url('fonts/Intro/Intro-Bold.svg#Intro-Bold') format('svg'),
       url('fonts/Intro/Intro-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url('fonts/MyriadPro/MyriadPro-Regular.eot');
  src: url('fonts/MyriadPro/MyriadPro-Regular.woff2') format('woff2'),
       url('fonts/MyriadPro/MyriadPro-Regular.woff') format('woff'),
       url('fonts/MyriadPro/MyriadPro-Regular.ttf') format('truetype'),
       url('fonts/MyriadPro/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg'),
       url('fonts/MyriadPro/MyriadPro-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}





/* BEGIN of CSS RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}

* {
	--webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

button {
	cursor: pointer;
}

/* END of CSS RESET */

/* 1 - END of Including files ("fonts.css", "reset.css" and others) ---------------------------------------------------------- */
/* 2 - BEGIN of Tags and General styles ---------------------------------------------------------- */

body {
	min-height: 500px;
    max-width: 768px;
	margin: 0 auto;
	font-family: 'ProximaNova', sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #99a1b0;
}

a {
	color: #00c2c3;
	text-decoration: none;
	outline: none;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

a:hover {
	opacity: 0.7;
	text-decoration: none;
	color: inherit;
	outline: none;
}

a:active {
	opacity: 0.6;
	outline: none;
	color: inherit;
	text-decoration: none;
}

a:focus {
	outline: none;
	color: inherit;
	text-decoration: none;
}

button, input, textarea, select {
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

button:hover, input:hover, textarea:hover, select:hover {
	opacity: 0.8;
}

strong {
	font-weight: 700;
}

em {
	font-style:italic;
}

img {
	max-width: 100%;
}

h1 {
	padding: 0 0 15px;
	font-size: 18px;
    text-transform: uppercase;
    color: #052640;
}

h2 {
	padding: 0 0 15px;
	font-size: 18px;
    font-family: "Sybilla";
    color: #6c727d;
}

h3 {
    font-family: "Sybilla";
    font-size: 14px;
    color: #18c1c4;
}

h4 {
	padding: 0 0 15px;
	font-size: 12px;
	color: #3b3b3b;
	font-family: "ProximaNova";
	font-weight: 600;
}

h5 {
	font-size: 12px;
	font-weight: 700;
    font-family: "Sybilla";
}

h6 {
	margin: 0 0 0;
	font-size: 10px;
	font-family: "ProximaNova";
	font-weight: 300;
	color: #052640;
}

blockquote {
	display: block;
	margin: 20px auto 20px;
	max-width: 840px;
	font-size: 28px;
	line-height: 1.2;
	font-weight: 700;
	text-align: center;
}

p {
	padding: 0 0 15px;
}

ul ol, ul ul, ol ul, ol ol {
	padding-bottom: 0;
}

* {
    box-sizing: border-box;
}

button {
    outline: none;
}

.clear:before, .clear:after {
	content: "";
	display: block;
	clear: both;
}

.hide, .hidden {
	display: none;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.alignleft, img.alignleft {
	float: left;
	display: block;
	margin: 0 5px 0 0;
}

.alignright, img.alignright {
	float: right;
	display: block;
	margin: 0 0 0 5px;
}

.aligncenter, img.aligncenter {
	float: none;
	display: block;
	margin: 0 auto 0;
}

.alignnone, img.alignnone {
	margin: 0 0 0;
	display: block;
}

/* 2 - END of Tags styles and General styles ---------------------------------------------------------- */
.sprite {
	position: relative;
}

i.sprite {
	display: inline-block;
}

.sprite::before {
	content: '';
	background-image: url(img/spritesheet.png);
	background-repeat: no-repeat;
	display: block;
	z-index: 10;
}

.sprite-angle-bottom::before {
    width: 10px;
    height: 9px;
    background-position: -5px -5px;
}

.sprite-angle-bottom-thin::before {
    width: 16px;
    height: 8px;
    background-position: -25px -5px;
}

.sprite-angle-left::before {
    width: 9px;
    height: 10px;
    background-position: -51px -5px;
}

.sprite-angle-right::before {
    width: 16px;
    height: 17px;
    background-position: -70px -5px;
}

.sprite-basket::before {
    width: 25px;
    height: 23px;
    background-position: -96px -5px;
}

.sprite-cart::before {
    width: 22px;
    height: 22px;
    background-position: -131px -5px;
}

.sprite-envelope::before {
    width: 38px;
    height: 28px;
    background-position: -163px -5px;
}

.sprite-facebook::before {
    width: 25px;
    height: 25px;
    background-position: -5px -43px;
}

.sprite-facebook-btn::before {
    width: 30px;
    height: 29px;
    background-position: -40px -43px;
}

.sprite-filter::before {
    width: 19px;
    height: 21px;
    background-position: -80px -43px;
}

.sprite-heart::before {
    width: 22px;
    height: 22px;
    background-position: -109px -43px;
}

.sprite-hit::before {
    width: 37px;
    height: 95px;
    background-position: -141px -43px;
}

.sprite-home::before {
    width: 25px;
    height: 24px;
    background-position: -5px -148px;
}

.sprite-instagram::before {
    width: 25px;
    height: 25px;
    background-position: -40px -148px;
}

.sprite-new::before {
    width: 36px;
    height: 94px;
    background-position: -211px -5px;
}

.sprite-next::before {
    width: 13px;
    height: 29px;
    background-position: -5px -109px;
}

.sprite-ok-btn::before {
    width: 30px;
    height: 29px;
    background-position: -28px -109px;
}

.sprite-phone::before {
    width: 25px;
    height: 25px;
    background-position: -68px -109px;
}

.sprite-prev::before {
    width: 13px;
    height: 29px;
    background-position: -103px -109px;
}

.sprite-sale::before {
    width: 37px;
    height: 95px;
    background-position: -188px -109px;
}

.sprite-twitter-btn::before {
    width: 30px;
    height: 29px;
    background-position: -5px -214px;
}

.sprite-user::before {
    width: 25px;
    height: 25px;
    background-position: -45px -214px;
}

.sprite-viber-btn::before {
    width: 30px;
    height: 29px;
    background-position: -80px -214px;
}

.sprite-vk::before {
    width: 25px;
    height: 25px;
    background-position: -120px -214px;
}

.sprite-vk-btn::before {
    width: 30px;
    height: 29px;
    background-position: -155px -214px;
}

.sprite-whatsapp-btn::before {
    width: 30px;
    height: 29px;
    background-position: -195px -214px;
}

.sprite-youtube::before {
    width: 25px;
    height: 19px;
    background-position: -5px -253px;
}

.sprite-zoom::before {
    width: 22px;
    height: 22px;
    background-position: -40px -253px;
}


/* 3 - BEGIN of header ---------------------------------------------------------- */
.container {
    width: 768px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

header {
    position: relative;
    padding: 14px 0;
    border-bottom: 1px solid #C9C9C9;
}

.justify-align {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

a.logo {
    position: relative;
    left: 60px;
}

.modal {
    display: none;
}

.modal h3 {
    margin: 0 0 10px;
    text-align: center;
    font-size: 26px;
}

.header-menu {
    display: block;
    padding: 0 12px;
    height: 28px;
    line-height: 28px;
    background: #18c1c4;
    border-radius: 20px;
}

.burger-btn {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    border: none;
    margin: 0;
    outline: none;
    line-height: 0;
    width: 13px;
    background-color: transparent;
}

.burger-btn span {
    display: block;
    width: 100%;
    height: 3px;
    margin: 0 0 3px;
    background: #fff;
    border-radius: 6px;
}

.burger-btn span:last-child {
    margin: 0;
}

.header-menu span {
    display: inline-block;
    padding: 0 0 0 5px;
    vertical-align: middle;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

.main-menu__wrapper {
    -webkit-transform: translate(0, -1000px);
    -ms-transform: translate(0, -1000px);
    -o-transform: translate(0, -1000px);
    transform: translate(0, -1000px);
    -ms-align-items: flex-start;
    align-items: flex-start;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    width: 374px;
    z-index: 1000;
    background: #fff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.main-menu__wrapper.active {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.main-menu__close {
    position: absolute;
    right: -30px;
    top: 16px;
    width: 30px;
    height: 30px;
    line-height: 32px;
    background: #FFBB39;
    font-size: 40px;
    color: #fff;
    text-align: center;
    z-index: 100;
}

.main-menu__overlay {
    z-index: 99;
    position: fixed;
    background-color: #000;
    opacity: 0.6;
    -moz-opacity: 0.6;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

.main-menu__overlay.active {
    display: block;
}

.main-menu__close:hover {
    opacity: 1;
    color: #fff;
}

.icon-menu__wrapper {
    width: 80px;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #C9C9C9;
}

.icon-menu {
    list-style: none;
    text-align: center;
}

.icon-menu li a {
    display: block;
    padding: 18px 0;
}

.main-menu__box {
    width: 294px;
    padding: 16px 0 0 20px;
}

.search-form {
    position: relative;
    width: 255px;
    margin: 0 0 30px;
}

.search-form input {
    width: 100%;
    height: 30px;
    padding: 0 30px 0 10px;
    font-size: 11px;
    background: #ededed;
    color: #000;
    border: none;
    outline: none;
}

.search-form .search-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    border: none;
    outline: none;
    color: #757575;
    background-color: transparent;
}

.main-menu__title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #444A4A;
}

.main-menu {
    list-style: none;
}

.main-menu > li {
    display: block;
}

.main-menu > li > a {
    position: relative;
    display: block;
    padding: 12px 40px 12px 0;
    font-size: 11px;
    color: #000;
    text-transform: uppercase;
    border-bottom: 1px solid #C9C9C9;
}

.main-menu > li:last-child a {
    border: none;
}

.main-menu__count {
    position: absolute;
    right: 25px;
    font-size: 14px;
    color: #000;
    z-index: 10;
}

.main-menu__count::after {
    content: '\f105';
    padding: 0px 0 0 10px;
    font-family: "FontAwesome";
    font-size: 18px;
    vertical-align: text-bottom;
    color: #CACACA;
}


.header-right__btn {
    list-style: none;
}

.header-right__btn li {
    display: inline-block;
    margin-left: 30px;
}

.header-right__btn li:first-child {
    margin: 0;
}

.banner {
    -ms-align-items: flex-start;
    align-items: flex-start;
    padding: 11px 0 0;
}

.banner-big__wrapper {
    position: relative;
    overflow: hidden;
    width: 479px;
}

.banner-slider__item a {
    display: block;
}

.banner-slider__buttons, .full-slider__arrows {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 55px;
    height: 26px;
    line-height: 28px;
    text-align: center;
    background: #fff;
    box-shadow: 0px 0px 46px 0px rgba(139, 142, 142, 0.24);
    border-radius: 20px;
}

.banner-slider__buttons > button, .full-slider__arrows button {
    padding: 0 8px 0;
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
}

.banner-slider__buttons .fa, .full-slider__arrows .fa {
    font-size: 16px;
    color: #6C727E;
}

.banner-slider__buttons > button:hover .fa, .full-slider__arrows button:hover .fa {
    color: #177694;
}

.slick-dots li {
    margin: 0 2px;
    width: 15px;
}

.slick-dots li button {
    width: 10px;
    height: 10px;
    border: none;
    background: #fff;
    border-radius: 50%;
}

.slick-dots li.slick-active button {
    background: #177694;
    height: 8px;
    width: 8px;
}

.slick-dots li button:before {
    content: "";
}

.slick-dots {
    bottom: 15px;
}

.banner-small__wrapper {
    width: 244px;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
}

.banner-small__item {
    margin: 0 0 6px;
    text-align: right;
}

.banner-small__wrapper .banner-small__item:last-child {
    margin-bottom: 0;
}

.banner-small__item img {
    display: block;
}

.advantages {
    padding: 20px 0 0;
}

.advantages h3 {
    text-align: center;
}

.advantages-wrapper {
    padding: 17px 0 34px;
}

.advantages-item span {
    padding: 0 0 0 10px;
    color: #6c727d;
    font-size: 12px;
    font-weight: 600;
}

.discounts-wrapper {
    -ms-align-items: flex-start;
    align-items: flex-start;
}

.discounts-item {
    position: relative;
}

.discounts-item__img a {
    display: inline-block;
}

.discounts-item__img img {
    display: block;
}

.discounts-item__text {
    padding: 0 30px 25px 30px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.discounts-item__number {
    font-size: 12px;
    margin: 0 0 17px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.05em;
}

.discounts-item__number a, .discounts-item__header a {
    display: inline-block;
    color: #fff;
}

.discounts-item__header {
    font-size: 24px;
    line-height: 27px;
    font-family: "Sybilla";
    color: #fff;
    font-weight: 500;
}

.select-buyers {
   padding: 30px 0 0;
}

.select-buyers__wrapper.custom-slider {
    width: 690px;
    margin: 0 auto;
    padding: 0 0 21px;
    --ms-align-items: flex-start;
    align-items: flex-start;
}

.select-buyers__wrapper.custom-slider .slick-prev {
    left: -20px;
}

.select-buyers__wrapper.custom-slider .slick-next {
    right: -20px;
}


.select-buyers__img {
    padding: 0 0 6px;
}

.select-buyers__img a, .select-buyers__img img {
    display: inline-block;
}

.select-buyers h4 {
    padding: 0 0 30px;
    color: #052640;
    text-transform: uppercase;
    text-align: center;
}

.select-buyers h4 span {
    position: relative;
    padding: 0 20px;
}

.select-buyers h4 span::before, .select-buyers h4 span::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    left: 0;
    top: 40%;
    border-radius: 50%;
    background-color: rgb(0, 194, 195);
}

.select-buyers h4 span::after {
    left: auto;
    right: 0;
}


.select-buyers h6 {
    padding: 0 0 3px;
    letter-spacing: 0.05em;
    font-family: "Sybilla";
}

.select-buyers h6 a {
    color: #052640;
}

.select-buyers__category {
    font-size: 12px;
    color: #6c727d;
}

.select-buyers__category a {
    color: #6c727d; 
}

section h2 {
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

section h2::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    width: 100%;
    height: 1px;
    background: #C9C9C9;
}

section h2 span {
    position: relative;
    display: inline-block;
    padding: 0 40px;
    background: #fff;
    z-index: 10;
    letter-spacing: 0.05em;
}

section h2 span::before, section h2 span::after {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    left: 20px;
    top: 36%;
    border-radius: 50%;
    background-color: rgb(0, 194, 195);
}

section h2 span::after {
    left: auto;
    right: 20px;
}

.popular-brands {
    padding: 30px 0 0;
}

.custom-slider {
    width: 600px;
    margin: 0 auto;
}

.popular-brands__wrapper {
    margin: 0 auto;
}

.brands-slider__item {
    min-height: 100px;
    line-height: 100px;
    text-align: center;
}

.brands-slider a {
    display: inline-block;
    vertical-align: middle;
}

.brands-slider a:hover {
    opacity: 1;
}

.brands-slider img {
    margin: 0 auto;
}

.slick-prev {
    top: 50%;
    left: -50px;
    width: 13px;
    height: 29px;
    background: url(img/spritesheet.png);
    background-position: -103px -109px;
}

.slick-next {
    top: 50%;
    right: -50px;
    width: 13px;
    height: 29px;
    
    background: url(img/spritesheet.png);
    background-position: -5px -109px;
}

.slick-next:hover,  .slick-next:focus {
    background: url(img/spritesheet.png);
    background-position: -5px -109px;
}

.slick-prev:hover,  .slick-prev:focus {
    background: url(img/spritesheet.png);
    background-position: -103px -109px;
}

 .slick-prev:before,  .slick-next:before {
    content: '';
}

.brands-slider .slick-prev, .brands-slider .slick-next {
    top: 60px;
}

.news {
    padding: 30px 0 30px;
}

.product-slider__wrapper {
    margin-top: 15px;
}

.product-slider__item {
    position: relative;
    padding: 10px 15px 18px;
    min-height: 400px;
    border-top: 1px solid #C9C9C9;
    border-bottom: 1px solid #C9C9C9;
    border-right: 1px solid #C9C9C9;
    border-left: 1px solid transparent;
}

.product-slider .slick-current {
   border-left-color: #C9C9C9;
}


.product-wrapper {
    position: relative;
}

.product-img {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    min-height: 200px;
    --ms-align-items: center;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.product-info {
    padding: 10px 0 0;
}

.product-info__article {
    font-size: 10px;
    color: #99a1b0;
    letter-spacing: 0.05em;
}

.product-info__reviews {
    font-size: 10px;
    color: #2bc9cb;
}

.product-info__reviews a {
    color: #2bc9cb;
}

.product-info__reviews span {
    padding: 0 5px 0 0;
}

.product-wrapper h4 {
    margin: 10px 0 0;
    min-height: 40px;
    font-size: 12px;
    color: #052640;
    font-weight: 500;
    font-family: "Sybilla";
    letter-spacing: 0.05em;
}

.product-wrapper h4 a {
    color: #052640;
}

.product-in__stock {
    font-size: 10px;
    color: #34d65d;
}

.product-price {
    padding: 10px 0 0;
    font-size: 18px;
    color: #18c1c4;
    font-weight: bold;
}

.product-price__rubl {
    font-weight: bold;
    font-size: 16px;
}

.slick-slide {
    outline: none;
}

.product-img__slider img {
    margin: 0 auto;
}

.product-list__price .fa {
    font-size: 11px;
    padding: 0 0 0 4px;
}

.btn {
    display: inline-block;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-family: "Sybilla";
    padding: 0;
    margin: 0;
    outline: none;
    background-color: transparent;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    border: none;
}

.btn:focus {
    outline: none;
}

.blue-btn {
    background: #18c1c4;
    color: #fff;
}

.blue-btn:hover, .blue-btn:focus {
    color: #fff;
}


.product-slider__item .blue-btn {
    display: block;
    width: 100%;
    margin: 10px auto 0;
    border-radius: 20px;    
}


.news-badge::before {
    content: '';
    position: absolute;
    top: -7px;
    right: -1px;
    background-image: url(img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    z-index: 10;
    width: 36px;
    height: 94px;
    background-position: -211px -5px;
}

.hit-badge::before {
    content: '';
    position: absolute;
    top: -7px;
    right: 20px;
    background-image: url(img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    z-index: 10;
    width: 37px;
    height: 95px;
    background-position: -141px -43px;
}

.sale-badge::before {
    content: '';
    position: absolute;
    top: -7px;
    right: 10px;
    background-image: url(img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    z-index: 10;
    width: 37px;
    height: 95px;
    background-position: -188px -109px;
}

.populars {
    padding: 30px 0; 
}

.sale {
    padding: 30px 0; 
}

.reviews {
    padding: 30px 0 30px;
}

.reviews-wrapper {
    margin-top: 15px;
}

.reviews-slider__item {
    min-height: 410px;
    padding: 10px 15px;
    border: 1px solid #C9C9C9;
    border-top: 1px solid #C9C9C9;
    border-bottom: 1px solid #C9C9C9;
    border-right: 1px solid #C9C9C9;
    border-left: 1px solid transparent;
}

.reviews-slider .slick-current {
   border-left-color: #C9C9C9;
}

.reviews-slider__img {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    min-height: 200px;
    --ms-align-items: center;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.reviews-slider__img img {
    display: inline-block;
    vertical-align: middle;
}

.reviews-slider__item {
    text-align: center;
}

.reviews-slider__item h5 {
    font-weight: normal;
    padding: 12px 20px 11px;
}

.reviews-slider__item h5 a {
    color: #052640;
}

.reviews-slider__item p {
    color: #99a1b0;
    font-size: 10px;
    max-width: 155px;
    margin: 0 auto 10px;
    padding: 0;
}

.reviews-read__more {
    position: relative;
    display: inline-block;
    font-size: 10px;
    font-family: "Sybilla";
    color: #18c1c4;
}

.reviews-read__more::after {
    content: '→';
    padding: 0 0 0 5px;
    display: inline;
    position: relative;
    top: -1px;
    vertical-align: middle;
    font-family: monospace;
    font-size: 14px;
}

.reviews-read__more:hover, .reviews-read__more:focus {
    opacity: 1;
    color: #00c2c3;
}

.reviews-read__more:hover .sprite-ic-right-arrow {
    left: 4px;
}

.reviews-slider__date {
    padding: 10px 0 0;
    font-size: 10px;
    color: #99a1b0;
}

.work {
    padding: 10px 0 30px;
}

.work-wrapper {
    margin: 30px auto 0;
}

.work-item {
    text-align: center;
}

.work-item__header {
    padding: 15px 0 0;
    font-size: 14px;
    font-weight: 600;
    color: #6c727d;
}

.subscription {
    padding: 30px 0 30px;
}

.subscription-box {
    height: 132px;
    padding: 0 40px 0 60px;
    border: 1px solid #BFBFBF;
}

.subscription-description {
    width: 310px;
    font-size: 14px;
    text-transform: uppercase;
}

.subscription-box .btn {
    width: 135px;
    height: 35px;
    line-height: 35px;
    border-radius: 20px;
}

.subscription-form {
    width: 350px;
}

.subscription-form input {
    display: inline-block;
    padding: 0 10px 0 30px;
    width: 190px;
    height: 35px;
    font-size: 14px;
    background-color: transparent;
    outline: none;
    border: 1px solid #E8E8E8;
    border-radius: 20px;
}

.full-slider__wrapper {
    margin: 0 auto;
}

.full-slider__box {
    position: relative;
}

.full-slider img {
    margin: 0 auto;
}

.full-slider__arrows {
    position: absolute;
    top: 36px;
    right: 8%;
    width: 73px;
    height: 35px;
    line-height: 42px;
    text-align: center;
    background: #fff;
    box-shadow: 0px 0px 46px 0px rgba(139, 142, 142, 0.24);
    border-radius: 12px;
}

.full-slider__arrows .fa {
    font-size: 20px;
}

.full-slider__arrows button {
    padding: 0 10px 0;
}

.about {
    padding: 35px 0 0 0;
    margin-bottom: 20px;
}

.about-news__wrapper {
    --ms-align-items: flex-start;
    align-items: flex-start;
}

.about-wrapper {
    padding: 20px 40px 20px;
    background: #f7f6f6;
    text-align: center;
}

.about-wrapper h2::before, .about-wrapper h2::after,
.news-box h2::before, .news-box h2::after {
    display: none;
}

.about-wrapper h2 span {
    background: #f7f6f6;
}

.about-wrapper p {
    font-size: 12px;
    color: #6c727d;
    letter-spacing: 0.05em;
    font-family: "Sybilla";
    font-weight: 300;
    text-align: justify;
}

.about-wrapper .reviews-read__more {
    font-size: 10px;
}

.news-box {
    text-align: center;
    padding: 20px 38px 0;
    margin-bottom: 35px;
    border: 1px solid #BFBFBF;
}

.news-box h2 {
    margin-bottom: 10px;
}

.news-box__wrapper {
        -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

.news-item {
    margin: 0 0 17px;
    text-align: left;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
}

.news-item__link {
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    font-weight: 800;
    letter-spacing: 0.02em;
    font-family: "Sybilla";
    color: #052640;
}

.news-item__link::after {
    content: '→';
    padding: 0 0 0 10px;
    display: inline;
    position: relative;
    top: -2px;
    vertical-align: middle;
    font-family: monospace;
    font-size: 22px;
    color: #18c1c4;
}


.news-item__date {
    font-size: 14px;
    line-height: 16px;
    color: #6c727d;
}

.footer-menu {
    list-style: none;
}

.footer-menu > li {
    background: #f7f6f6;
}

.footer-menu > li > a {
    display: block;
    margin: 0 20px;
    padding: 9px 0 9px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Sybilla";
    text-align: center;
    color: #052640;
    border-bottom: 1px solid #BFBFBF;
}

.footer-menu > li:last-child > a {
    border: none;
}

.footer-menu__drop > a > span {
    position: relative;
}

.footer-menu__drop > a > span::after {
    content: '';
    position: absolute;
    top: 4px;
    right: -15px;
    background-image: url(img/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 9px;
    height: 10px;
    background-position: -51px -5px;
}

.footer-menu__drop > a.active > span::after {
    width: 10px;
    height: 9px;
    background-position: -5px -5px;
}

.footer-menu__level1 {
    display: none;
    list-style: none;
}

.footer-menu__level1 >li {
    background: #fff;
}

.footer-menu__level1 >li > a {
    display: block;
    margin: 0 20px;
    padding: 10px 0 10px;
    font-size: 12px;
    text-align: center;
    color: #6c727d;
    border-bottom: 1px solid #BFBFBF;
}

/*Inner page style-------------------------*/
.breadcrumbs {
    padding: 10px 0 10px;
    font-weight: 300;
}

.breadcrumbs ul {
    list-style: none;
}

.breadcrumbs ul li {
    display: inline-block;
    font-size: 12px;
    color: #878787;
}

.breadcrumbs ul li+li::before {
    content: '>';
    display: inline-block;
    padding: 0 5px;
    font-size: 12px;
    color: #878787;
}

.breadcrumbs ul li a {
    font-size: 12px;
    color: #2fc4cb;
}

.catalog {
    position: relative;
    padding: 10px 0 0;
}

.catalog h1 {
    border-bottom: 1px solid #C9C9C9;
}

.catalog-subscription {
    padding: 10px 20px;
    margin: 0 0 25px;
    border: 1px solid #C9C9C9;
}

.catalog-subscription__header {
    width: 318px;
}

.catalog-subscription__header span {
    position: relative;
    display: inline-block;
    font-size: 13px;
    color: #878787;
}

.catalog-subscription__header span::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 0;
    width: 1px;
    height: 30px;
    background: #D5D5D5;
}

.catalog-subscription__form > * {
    margin: 0 -0.3em 0 0;
    vertical-align: middle;
}

.catalog-subscription__form input {
    width: 200px;
    padding: 0 0 0 10px;
    display: inline-block;
    height: 30px;
    border: 1px solid #C9C9C9;
    outline: none;
    background-color: transparent;
}

.catalog-subscription__form button {
    display: inline-block;
    width: 144px;
    height: 30px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "ProximaNova";
    outline: none;
    border: none;
}

.catalog-settings {
    padding: 10px 0 40px;
    font-weight: normal;
    font-size: 14px;
    color: #5a6775;
}

.catalog-settings__left {
    width: 370px;
}

.catalog-settings__product strong {
    color: #020202;
}

.select-box > * {
    display: inline-block;
    vertical-align: middle;
}

.select-wrapper {
    position: relative;
    margin: 0 0 0 10px;
    width: 54px;
    height: 23px;
    line-height: 23px;
    border: 1px solid #C9C9C9;
    overflow: hidden;
}

.select-wrapper::before {
    content: "\f0d7";
    font-size: 14px;
    color: #8b8b8b;
    position: absolute;
    right: 5px;
    top: 0;
    font-family: "FontAwesome";
}

.select-wrapper select {
    width: 65px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #878787;
}

.catalog-settings__right .select-wrapper {
    width: 142px;
}

.catalog-settings__right .select-wrapper select {
    width: 162px;
}

.catalog-items__wrapper {
    --ms-align-items: flex-start;
    align-items: flex-start;
    margin: 0 0 30px;
}

.catalog-item__wrapper {
    max-width: 604px;
    margin: 0 auto 35px;
}

.catalog-item__wrapper .product-slider__item:first-child {
    border-left: 1px solid #C9C9C9;
}


.filter-btn__catalog {
    margin: 0 0 20px;
}



/*SIDEBAR ------------------------------------------*/
.sidebar {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 200px;
    width: 434px;
    border: 1px solid #F3F2F2;
    border-bottom: none;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.29);
    z-index: -1;
    background: #fff;
    transition: all .3s;
}

.sidebar.active {
    z-index: 999;
    opacity: 1;
}

.filter-btn {
    display: block;
    width: 38px;
    height: 38px;
    line-height: 38px;
    background: #18c1c4;
    text-align: center;
}

.filter-btn .sprite {
    vertical-align: middle;
}

.sidebar .filter-btn {
    position: absolute;
    right: -38px;
    top: 20px;
}

.sidebar-wrapper {
    padding: 20px 0 25px 20px;
}

.parameters {
    padding: 0 0 25px 30px;
    border-bottom: 1px solid #F3F2F2;
}

.parameters-header {
    font-size: 18px;
    line-height: 18px;
    color: #052640;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.parameters-list {
    padding: 24px 5px 0 0;
    list-style: none;
}

.parameters-list li {
    display: inline-block;
    margin: 0 10px 9px 0;
    font-size: 14px;
    font-weight: 300;
}

.parameters-list li > span {
    display: inline-block;
    margin: 0 8px 0 0;
    vertical-align: middle;
    letter-spacing: 0.025em;
    color: #052640;
}

.parameters-list li > a {
    position: relative;
    display: inline-block;
    padding: 3px 10px 3px 21px;
    color: #fff;
    font-size: 12px;
    vertical-align: middle;
    background: #00c2c3;
}

.parameters-list li > a::before {
    content: "+";
    position: absolute;
    left: 3px;
    top: -2px;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    --webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.parameters .blue-btn {
    position: relative;
    display: block;
    text-align: right;
    padding: 0 50px 0 0;
    margin: 10px 0 0;
    width: 227px;
    height: 49px;
    letter-spacing: 0.025em;
    line-height: 49px;
    font-family: "ProximaNova";
    font-weight: 300;
    border-radius: 24px;
}

.parameters .blue-btn::before {
    content: "+";
    position: absolute;
    left: 49px;
    top: 2px;
    color: #fff;
    font-size: 32px;
    font-family: "ProximaNova";
    font-weight: bold;
    --webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.price-filter {
    -ms-align-items: flex-start;
    align-items: flex-start;
    padding: 24px 10px 30px 30px;
    border-bottom: 1px solid #F3F2F2;
}

.price-filter__left {
    width: 160px;
}

.price-filter__value {
    padding: 0 0 20px 0;
}

.price-filter__value > * {
    display: inline-block;
    font-size: 14px;
    color: #052640;
    font-family: "ProximaNova";
    font-weight: 300;
}

.value-max-min {
    padding: 0 0 0 12px;
}

/*Begin of Range slider*/
.catalog .range-slider {
    padding: 25px 0 20px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none;
    width: 15px;
    height: 15px;
    border: 10px solid transparent;
    border-top: 14px solid #052640;
    background: transparent;
}

 .amount-input__wrapper {
    font-size: 16px;
    font-weight: 800;
}

.amount-wrapper {
    position: relative;
    margin: 11px 0 0 0;
}

 .amount-wrapper input {
    display: inline-block;
    width: 85px;
    height: 35px;
    padding: 0 0 0 10px;
    outline: none;
    font-size: 12px;
    font-family: "ProximaNova";
    font-weight: 300;
    color: #878787;
    border: 1px solid #C9C9C9;
}

 .amount-wrapper span {
    font-size: 12px;
    font-family: "ProximaNova";
    font-weight: 300;
    color: #b0b3b8;
 }

.ui-widget-header {
    border: none;
    background: #000;
}

.ui-widget-content {
    height: 14px;
    border: none;
    border-radius: 0;
    border: 1px solid #C9C9C9;
}

.ui-slider-horizontal .ui-slider-range {
    height: 12px;
    border-radius: 0;
    background: #00c2c3;
}

.ui-slider-horizontal .ui-slider-handle {
    outline: none;
    top: -1px;
    margin-left: -.7em;
    cursor: pointer;
}

#slider-range {
    margin: 0 auto 0;
    width: auto;
}

 .range-slider span {
    display: inline-block;
    font-size: 14px;
    color: #fff;
}

.indicate-price {
    font-size: 14px;
    font-family: "ProximaNova";
    font-weight: 300;
    color: #052640;
}

.price-filter__right {
    width: 194px;
}

.filter-item {
    padding: 25px 25px 28px;
    border-bottom: 1px solid #F3F2F2;
}

.filter-item h6 {
    padding: 0 0 7px 0;
    font-size: 14px;
}

.filter-item__cut {
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 0 0 15px;
    font-size: 12px;
    color: #878787;
    border: 1px solid #F3F2F2;
}

.filter-item__cut::after {
    content: '>';
    position: absolute;
    right: 16px;
    top: 1px;
    font-size: 14px;
    color: #052640;
    font-family: "ProximaNova";
    font-weight: 300;
    --webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.filter-item__cut.active::after {
    --webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.sidebar-scroll {
    padding: 0 0 10px 0;
}

.jspContainer {
    overflow: hidden;
    position: relative;
}

.jspPane {
    position: absolute;
    outline: none;
}

.jspVerticalBar {
    position: absolute;
    top: 0;
    left: 5px;
    width: 2px;
    height: 100%;
    background: #E8E8E8;
}

.jspHorizontalBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16px;
    background: red;
}

.jspCap {
    display: none;
}

.jspHorizontalBar .jspCap {
    float: left;
}

.jspTrack {
    background: #edebd6;
    position: relative;
}

.jspDrag {
    background: #18C1C4;
    width: 10px;
    height: 10px !important;
    position: relative;
    top: 10px;
    left: -3px;
    border-radius: 50%;
    cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
    float: left;
    height: 100%;
}

.jspArrow {
    background: #50506d;
    text-indent: -20000px;
    display: block;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.jspArrow.jspDisabled {
    cursor: default;
    background: #80808d;
}

.jspVerticalBar .jspArrow {
    height: 16px;
}

.jspHorizontalBar .jspArrow {
    width: 16px;
    float: left;
    height: 100%;
}

.jspVerticalBar .jspArrow:focus {
    outline: none;
}

.jspCorner {
    background: #eeeef4;
    float: left;
    height: 100%;
}

* html .jspCorner {
    margin: 0 -3px 0 0;
}

.sidebar-scroll .jspVerticalBar {
    right: 0;
    left: auto;
    width: 8px;
    height: 100%;
    border-left: 1px solid #F3F2F2;
    border-right: 1px solid #F3F2F2;
    background: transparent;
}

.sidebar-scroll .jspTrack {
    background: #fff;
}

.sidebar-scroll .jspDrag {
    width: 8px;
    height: 30px !important;
    left: -1px;
    border-radius: 0;
}

.check-list__wrapper {
    padding: 10px 0 0;
}
.show-product__visible {
    position: relative;
}

.show-product {
    display: none;
    position: absolute;
    right: -176px;
    top: 15%;
    width: 150px;
    height: 40px;
    padding: 0 0 0 10px;
    line-height: 40px;
    color: #fff;
    font-size: 13px;
    background: #00c2c3;
    font-family: "ProximaNova";
    z-index: 110;
}

.show-product::before {
    content: '';
    position: absolute;
    left: -40px;
    top: 0;
    border: 20px solid transparent;
    border-right: 20px solid #00c2c3;
}

.jspScrollable {
    outline: none !important;
}

.show-product.active {
    display: block;
}

.show-product:hover, .show-product:focus {
    color: #fff;
}

.check-list__wrapper .check-list {
    display: inline-block;
    padding: 0 40px 0 0;
    vertical-align: top;
}

.check-list__wrapper .check-list:last-child {
    padding: 0;
}

.check-list {
    list-style: none;
}

.check-list li {
    margin: 0 0 10px;
}

.check-list input[type="checkbox"] {
    display: none;
}

.check-list input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    padding: 0 0 0 29px;
    cursor: pointer;
    font-size: 12px;
    color: #878787;
    font-family: "ProxinaNova";
    font-weight: 300;
}

.check-count {
    display: inline-block;
    vertical-align: text-top;
    font-size: 12px;
    padding: 0 0 0 16px;
    color: #052640;
    font-family: "ProxinaNova";
    font-weight: 300;
}

.check-list input[type="checkbox"] + label::before {
    content: "";
    display: block;
    position: absolute;
    top: -4px;
    left: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #C9C9C9;
}

.check-list input[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    left: 4px;
    top: 0;
    right: 0;
    bottom: 0;
    background: #00c2c3;
}

.no-border {
    border: none;
}

.list-all {
    display: inline-block;
    margin: 10px 0 0;
    color: #00c2c3;
    font-size: 12px;
    font-family: "ProximaNova";
    text-decoration: underline;
}

.list-all:hover {
    color: #00c2c3;
}

.radio-list {
    list-style: none;
    padding: 7px 0 0 10px;
}

.radio-list li {
    margin: 0 0 10px;
}

.radio-list [type="radio"]:checked,
.radio-list [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.radio-list [type="radio"]:checked + label, .radio-list [type="radio"]:not(:checked) + label {
    position: relative;
    margin: 0;
    padding: 0 0 0 29px;
    cursor: pointer;
    font-size: 12px;
    color: #878787;
    font-family: "ProxinaNova";
    font-weight: 300;
}

.radio-list [type="radio"]:checked + label:before, .radio-list [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: -3px;
    width: 18px;
    height: 18px;
    border: 1px solid #C9C9C9;
    border-radius: 100%;
    background: #fff;
}

.radio-list [type="radio"]:checked + label:after, .radio-list [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #00c2c3;
    position: absolute;
    top: 2px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.radio-list [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.radio-list [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.sidebar .filter-item:last-of-type {
    border-bottom: none;
}

.show-hide {
    display: block;
    width: 100%;
    border: none;
    height: 30px;
    background: #00c2c3;
    line-height: 30px;
    text-align: center;
    outline: none;
}

.show-hide .fa {
    font-size: 30px;
    color: #fff;
}

.show-hide span {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: super;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
}

.show-hide.active .fa {
    --webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.apply-filters {
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    width: 228px;
    height: 49px;
    line-height: 49px;
    font-size: 15px;
    font-family: "ProximaNova";
    border-radius: 24px;
    font-weight: 300;
}


/*END OF SIDEBAR--------------------------------------------------*/

.order {
    padding: 15px 0 50px;
}

.order h1 {
    padding: 0 0 24px;
    font-family: "IntroBook";
    font-style: italic;
    font-size: 26px;
    color: #00c2c3;
    letter-spacing: 0.05em;
    font-weight: normal;
    text-transform: none;
}

.order-info {
    padding: 0 0 30px;
}

.product-table {
    width: 100%;
    font-family: "ProximaNova";
    border-collapse: collapse;
}

.product-table tr:first-child td {
    padding: 8px 10px 8px 10px;
    font-size: 16px;
    color: #3b3b3b;
    font-weight: 600;
    background: #eeeeee;
}

.product-table tr:first-child {
    border: none;
}

.product-table tr {
    border-bottom: 1px dotted #97A2B2;
}

.product-table td {
    padding: 18px 0;
    vertical-align: middle;
}

.product-table__img div {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    --ms-align-items: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 60px;
    height: 75px;
    border: 1px solid #F1F1F1;
}

.product-table__name {
    padding: 0 0 6px;
    font-size: 14px;
    color: #00c2c3;
    text-transform: uppercase;
}

.product-table__list {
    padding: 0;
    list-style: none;
}

.product-table__list li {
    font-size: 12px;
    font-weight: 200;
    line-height: 19px;
    color: #878787;
}

.minus-plus {
    margin: 18px 0 0;
    color: #bec2c6;
}

.minus-plus > * {
    display: inline-block;
    vertical-align: middle;
}

.minus-plus button {
    padding: 0;
    outline: none;
    border: none;
    background-color: transparent;
}

.minus-plus button span, .minus-plus input {
    display: inline-block;
    padding: 0;
    margin: 0 2px;
    width: 24px;
    height: 28px;
    line-height: 25px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #F3F2F2;
}

.minus-plus input {
    padding: 0;
    width: 50px;
    font-size: 16px;
    outline: none;
}


.product-table__btn .minus-plus {
    display: inline-block;
    max-width: 140px;
    margin: 0;
    vertical-align: middle;
}

.product-table__btn .minus-plus button span, .product-table__btn .minus-plus input {
    margin: 0;
}

.clear-btn {
    display: inline-block;
    padding: 0 0 0 1px;
    border: none;
    outline: none;
    background-color: transparent;
    vertical-align: middle;
}

.clear-btn span {
    display: inline-block;
    width: 25px;
    height: 26px;
    line-height: 26px;
    font-size: 20px;
    color: #fff;
    background: #fd3b3d;
    text-align: center;
}

.total-list__wrapper {
    padding: 27px 52px 0 0;
    text-align: right;
}

.total-list {
    float: right;
    display: table;
    padding: 0;
    font-family: "ProximaNova";
}

.total-list li {
    display: table-row;
}

.total-list li > * {
    display: table-cell;
    padding-top: 5px;
    padding-bottom: 5px;
}

.total-list li strong {
    padding-right: 6px;
    font-weight: 600;
    font-size: 16px;
    color: #3b3b3b;
}

.total-list li span {
    font-size: 14px;
    color: #5a6775;
}

.order-form__wrapper {
    padding: 40px 0 0;
}

.order-form {
    width: 100%;
    padding: 12px 10px 13px 20px;
    margin: 0 0 10px;
    background: #eeeeee;
    font-family: "ProximaNova";
}

.order-form label {
    width: 30%;
    font-size: 16px;
    color: #3b3b3b;
    font-weight: 600;
}

.input-btn__wrapper {
    width: 70%;
}

.input-btn__wrapper input {
    width: 74%;
    height: 30px;
    padding: 0 0 0 10px;
    border: none;
    background-color: #fff;
    outline: none;
}

.input-btn__wrapper .btn {
    width: 118px;
    height: 30px;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
}

.order-form__label label {
    width: 53%;
}

.order-form__label .input-btn__wrapper {
    width: 46%;
}

.order-form__label .input-btn__wrapper input {
    width: 70%;
}

.order-item {
    padding: 30px 35px 35px;
    margin-bottom: 20px;
    border: 1px solid #C9C9C9;
}

.order-item__title {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: #3b3b3b;
}

.color-blue {
    color: #00c2c3;
}

.order-item__login .radio-list li {
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
    font-size: 16px;
    color: #000;
    font-weight: 300;
}

.order-item__login .radio-list {
    padding: 0;
}

.order-item__login .radio-list [type="radio"]:checked + label, .order-item__login .radio-list [type="radio"]:not(:checked) + label {
    font-size: 12px;
    font-weight: bold;
    color: #000;
   font-family: "ProximaNova";
}

.order-item .select-wrapper {
    margin: 0 0 10px;
    padding: 0 30px 0 15px;
    width: 100%;
    height: 50px;
    line-height: 50px;
}


.order-item .select-wrapper::before {
    content: "\f107";
    font-size: 18px;
    color: #8b8b8b;
    right: 15px;
}

.order-item .select-wrapper select {
    width: 120%;
    height: 50px;
    padding: 0 43px 0 0;
    font-size: 14px;
    color: #99a1b0;
    font-weight: 200;
    font-family: "ProximaNova";
    text-overflow: clip;
}

.form .user-data > *:last-of-type {
    margin: 0;
}

.form input {
    width: 100%;
    padding: 0 0 0 15px;
    margin: 0 0 10px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #C9C9C9;
    outline: none;
}

.form input:focus {
    box-shadow: 0px 0px 9px 0px rgba(0, 194, 195, 1); 
}

.form *::-webkit-input-placeholder {
    font-family: "ProximaNova";
    color: #99a1b0;
    font-size: 14px;
    font-weight: 300;
    text-indent: 0;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.form  *:-moz-placeholder {
    font-family: "ProximaNova";
    color: #99a1b0;
    font-size: 14px;
    font-weight: 300;
    text-indent: 0;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.form  *::-moz-placeholder {
    font-family: "ProximaNova";
    color: #99a1b0;
    font-size: 14px;
    font-weight: 300;
    text-indent: 0;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.form  *:-ms-input-placeholder {
    font-family: "ProximaNova";
    color: #99a1b0;
    font-size: 14px;
    font-weight: 300;
    text-indent: 0;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.form .select-wrapper::before {
    content: "\f107";
    font-size: 18px;
    color: #99a1b0;
    right: 15px;
}

.input-wrapper {
    position: relative;
}

.question-ic {
    display: inline-block;
    position: absolute;
    left: 74px;
    top: 16px;
    width: 18px;
    height: 18px;
    line-height: 19px;
    text-align: center;
    background: #00c2c3;
    font-size: 13px;
    font-weight: bold;
    font-family: "Intro";
    color: #fff;
    border-radius: 50%;
    z-index: 10;
}

.question-ic:hover, .question-ic:focus {
    color: #fff;
}

.question-ic.active {
    opacity: 0;
}

.form .blue-btn {
    display: block;
    width: 100%;
    height: 50px;
    font-size: 19px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    outline: none;
}

.order-item__comment {
    padding: 10px 0 0;
    margin: 0 0 10px;
    border: none;
}

.order-item__comment .order-item__title {
    padding: 0 0 0 35px;
}

.form textarea {
    width: 100%;
    padding: 10px 0 0 15px;
    margin: 0 0 10px;
    height: 110px;
    border: 1px solid #C9C9C9;
    outline: none;
    resize: none;
}

.form textarea:focus {
  box-shadow: 0px 0px 9px 0px rgba(0, 194, 195, 1);   
}

.order-item__payment .radio-list li {
    font-size: 18px;
    color: #000;
}

.order-item__payment .radio-list [type="radio"]:checked + label, .order-item__payment .radio-list [type="radio"]:not(:checked) + label {
    font-size: 16px;
    color: #000;
    font-weight: normal;
}

.order-item__payment .radio-list [type="radio"]:checked + label:before, .order-item__payment .radio-list [type="radio"]:not(:checked) + label:before {
    top: -1px;
}

.order-item__payment .radio-list [type="radio"]:checked + label:after, .order-item__payment .radio-list [type="radio"]:not(:checked) + label:after {
    top: 4px;
}

.order .text-right .blue-btn {
    display: inline-block;
    width: 292px;
    height: 50px;
    font-size: 19px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    outline: none;

}

.text-right {
    text-align: right;
}

.product-header {
    margin-bottom: 15px;
}

.product-header h1 {
    display: inline-block;
    padding: 0 0 0 20px;
    font-size: 26px;
    color: #052640;
    font-family: "IntroBook";
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0.05em;
    text-transform: none;   
}

.product-page__wrapper {
    -ms-align-items: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
}

.product-page__slider {
    padding: 0 40px;
    width: 438px;
    
    border: 1px solid #D0D0D0;
}

.product-page__slider .slick-prev {
    left: 20px;
}

.product-page__slider .slick-next {
    right: 20px;
}

.product-page__slider .slick-slide {
    height: 321px;
    line-height: 321px;
    text-align: center;
}

.product-page__slider img {
    display: inline-block;
    vertical-align: middle;
}

.buy-box {
    width: 250px;
    height: 196px;
    padding: 10px 15px 5px;
    text-align: center;
    border: 1px solid #D0D0D0;
}

.old-price__sale {
    --ms-align-items: flex-start;
    align-items: flex-start;
}

.old-price__wrapper {
    font-size: 14px;
    color: #5a6775;
}

.old-price__wrapper span {
    position: relative;
    display: inline-block;
    margin: 0 10px 0 0;
    font-size: 20px;
}

.old-price__wrapper span::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: 48%;
    height: 1px;
    background: #5a6775;
}

.brand-info__sale {
    color: #e56360;
    font-weight: 500;
    font-size: 26px;
    line-height: 26px;
}

.big-price__wrapper {
    font-size: 31px;
    padding: 2px 0 0;
    color: #5a6775;
}

.big-price {
    display: inline-block;
    margin: 0 5px 0 0;
    font-size: 44px;
    color: #5a6775;
}

.buy-btn {
    display: block;
    margin: 17px 0 0;
    height: 48px;
    line-height: 48px;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 500;
}

.product-page__wrapper .minus-plus {
    margin: 5px 0 0;
}

.product-page__wrapper .minus-plus button span, .product-page__wrapper .minus-plus input {
    border: 1px solid #D4D4D4;
}

.click-box {
    height: 127px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    padding: 10px 5px;
    border: 1px solid #D0D0D0;
    border-top: 0;
}

.one-click__form input {
    display: block;
    margin-bottom: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #d1d4d7;
    font-size: 19px;
    font-weight: 300;
    font-family: "ProximaNova";
}

.one-click__form .btn {
    display: block;
    margin: 0 auto 10px;
    width: 143px;
    height: 31px;
    line-height: 31px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
}

.one-click__form *::-webkit-input-placeholder {
    color: #c9c9c9;
    font-size: 19px;
    font-weight: 300;
    font-family: "ProximaNova";
    text-indent: 0;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.one-click__form *:-moz-placeholder {
    color: #c9c9c9;
    font-size: 19px;
    font-weight: 300;
    font-family: "ProximaNova";
    text-indent: 0;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.one-click__form *::-moz-placeholder {
    color: #c9c9c9;
    font-size: 19px;
    font-weight: 300;
    font-family: "ProximaNova";
    text-indent: 0;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.one-click__form *:-ms-input-placeholder {
    color: #c9c9c9;
    font-size: 19px;
    font-weight: 300;
    font-family: "ProximaNova";
    text-indent: 0;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.repost-links {
    list-style: none;
    text-align: center;
}

.repost-links li {
    display: inline-block;
    margin: 0 2px;
}





.brand-properties__list {
    margin: 0 0 20px;
    list-style: none;
}

.brand-properties__list li {
    position: relative;
    display: inline-block;
    padding: 0 20px 0 0;
    margin: 0 0 0 20px;
    color: #5a6775;
}

.brand-properties__list li::before {
    content: '';
    position: absolute;
    right: 0;
    top: 3px;
    width: 1px;
    height: 11px;
    background: #5a6775;
}

.brand-properties__list li:first-child {
    margin: 0;
}

.brand-properties__list li:last-child::before {
    display: none;
}

.brand-properties__list li span, .brand-properties__list li a {
    display: inline-block;
    font-size: 14px;
    font-family: "ProximaNova";
    color: #5a6775;
}

.brand-properties__list li span {
    padding: 0 15px 0 0;
}

.brand-properties__select {
    margin: 0 0 20px;
}

.brand-properties__select .select-wrapper {
    width: 100%;
    height: 50px;
    line-height: 45px;
    padding: 0 15px;
    margin: 0;
}

.brand-properties__select .select-wrapper select {
    width: 110%;
    height: 40px;
    color: #5a6775;
}

.brand-properties__select .select-wrapper::before {
    content: "\f107";
    font-size: 28px;
    color: #C9C9C9;
    position: absolute;
    right: 15px;
    top: 0;
    font-family: "FontAwesome";
}

.product .work-wrapper {
    -ms-align-items: flex-start;
    align-items: flex-start;
}

.product .work-item__header {
    padding: 10px 0 0;
    font-size: 12px;
}

.description {
    padding: 30px 0 0;
}

.product h3 {
    padding: 0 0 9px;
    font-size: 26px;
    font-family: "IntroBook";
    font-style: italic;
}

.description-box, .options-box, .reviews-box {
    padding: 15px 20px 0;
    border: 1px solid #C9C9C9;
}

.description-box p {
    position: relative;
    padding: 0 0 15px 0;
    font-size: 14px;
    font-family: "ProximaNova";
    line-height: 20px;
    color: #99a1b0;
    text-align: justify;
}

.options-wrapper {
    padding: 30px 0 0;
}

.options-list {
    list-style: none;
    font-family: "ProximaNova";
    font-size: 14px;
    color: #99a1b0;
}

.options-list li {
    display: block;
    margin: 0 0 14px;
}

.options-list li span {
    display: inline-block;
    margin-right: -0.3em;
    vertical-align: bottom;
}

.options-list li span:first-child {
    width: 18%;
}

.options-list li span:last-child {
    width: 30%;
    padding: 0 0 0 30px;
}

.options-list li span.divider {
    width: 39%;
    border-bottom: 1px dotted #99a1b0;
}

.reviews-box__wrapper {
    padding: 30px 0 0;
}

.reviews-box__wrapper h3 {
    padding: 0 0 9px;
}

.reviews-box {
    position: relative;
    padding-top: 25px;
}

.reviews-count {
    position: absolute;
    right: 30px;
    top: 10px;
    font-size: 16px;
    color: #3b3b3b;
    font-weight: 600;
    font-family: "ProximaNova";
}

.reviews-item {
    margin: 0 0 10px;
    padding: 0 20px 0 0;
    font-family: "ProximaNova";
}

.reviews-item__name {
    margin: 0 0 10px;
    font-size: 16px;
    color: #3b3b3b;
    font-weight: 600;
}

.reviews-item p {
    font-size: 14px;
    line-height: 20px;
    color: #99a1b0;
}

.reviews-box .reviews-item:last-of-type {
    margin: 0;
}

.reviews-box .reviews-item:last-of-type p {
    padding: 0;
}

.reviews-more {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    vertical-align: middle;
    font-size: 10px;
    color: #18c1c4;
    font-family: "Sybilla";
}

.reviews-more::after {
    content: '↓';
    display: inline-block;
    padding: 0 0 0 7px;
    vertical-align: middle;
    font-size: 12px;
    color: #18c1c4;
}

.text-center {
    text-align: center;
}

.give-feedback__wrapper {
    padding: 25px 0 40px;
}

.give-feedback__wrapper h3 {
    padding: 0 0 9px;
}

.give-feedback__box {
    padding: 30px 30px;
    border: 1px solid #C9C9C9;
}

.give-feedback__box h4 {
    padding: 0 0 27px;
    font-size: 18px;
    text-transform: uppercase;
    color: #3b3b3b;
}

.give-feedback__form .justify-align {
    padding: 0 0 19px;
    --ms-align-items: flex-start;
    align-items: flex-start;
}

.give-feedback__form input {
    width: 60%;
    padding: 0 0 0 15px;
    height: 54px;
    line-height: 54px;
    border: 1px solid #C9C9C9;
}

.give-feedback__form .btn {
    width: 35%;
    height: 52px;
    line-height: 52px;
    text-transform: uppercase;
    border: none;
    font-size: 19px;
    font-family: "ProximaNova";
    font-weight: 600;
}

.give-feedback__form textarea {
    margin: 10px 0 0;
    width: 100%;
    height: 128px;
    padding: 16px 0 0 15px;
    border: 1px solid #C9C9C9;
    resize: none;
    outline: none;
}

.give-feedback__form input, .give-feedback__form textarea {
    font-size: 16px;
    font-family: "ProximaNova";
}

.product-more {
    padding: 0 0 40px;
}

.product-more h2 {
    font-size: 24px;
}

.not-available {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 15px 10px;
}

.not-available .btn {
    font-size: 14px;
}

.not-available__text {
    padding: 50px 0 0;
    font-size: 24px;
    color: #dc425c;
}

.brand-item__wrapper {
    padding: 20px 0 5px 0;
}

.brand-item__box .scroll-box {
    height: 250px;
}

.brand-item__box .jspPane {
    padding: 0 34px 0 0 !important;
}

.brand-item__box .jspVerticalBar {
    left: auto;
    right: 5px;
}

.brand-item {
    height: 54px;
    padding: 0 10px 0 15px;
    margin: 0 10px 10px 0;
    border: 1px solid #C9C9C9;
    font-family: "ProximaNova";
}

.brand-item__name {
    width: 33%;
    font-size: 14px;
    color: #5a6775;
    font-weight: 300;
}

.brand-item__buy {
    width: 64%;
}

.brand-item .minus-plus {
    margin: 0;
}

.brand-item .minus-plus > * {
    display: inline-block;
    vertical-align: middle;
}

.brand-item .brand-info__sale {
    font-size: 20px;
    font-weight: bold;
}

.brand-item__old {
    font-size: 15px;
    color: #99a1b0;
    font-weight: 300;
    text-decoration: line-through;
}

.brand-item__price {
    font-size: 24px;
    color: #00c2c3;
    font-weight: bold;
}

.brand-item__price .fa {
    font-size: 21px;
}

.brand-item .btn {
    width: 95px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
}

.brand-not__available {
    width: 64%;
}

.not-available {
    font-size: 15px;
    color: #e56360;
    font-weight: 300;
}

.brand-not__available .btn {
    font-size: 12px;
    width: auto;
    padding: 0 10px;
}